<!DOCTYPE html>
<html>
  <head>
    <title>Nile {{title}}</title>
    <meta charset='utf-8'>
    <link rel='shortcut icon' href='/static/favicon.ico'>
  </head>
  <body>
    {{#> body-block}}
    {{/body-block}}
  </body>
</html>
