<h1>Nile Administrator Account</h1>
<section class='infobox'>
    <h2>Select an Option</h2>
    {{#each options}}
        <div><a href='/admin/{{this}}'>{{capitalize this}}</a></div>
    {{/each}}
</section>