<h1>Customer Information</h1>
<section id='customer_table'>
    {{#each customers}}
        <div class='customer_row'>
            <span>First Name: {{this.firstName}}</span>
            <span>Last Name: {{this.lastName}}</span>
            <span>Email: {{this.emailAddress}}</span>
        </div>
    {{/each}}
</section>
