{{#> base title = 'Online Shopping'}}

    {{#*inline 'body-block'}}
        <h1>Hello, {{capitalize user.firstName}}!</h1>
        <h2>Here are your current details:</h2>
        <ul>
            <li><strong>Full Name:</strong> {{capitalize user.firstName user.lastName}}</li>
            <li><strong>Email:</strong> {{user.emailAddress}}</li>
            <li><strong>Phone:</strong> {{formatPhone user.phoneNumber}}</li>
        </ul>
    {{/inline}}

{{/base}}
