<h1>Nile {{title}}</h1>
<h2>Showing: {{report.rows.length}}</h2>
<section class='tablebox'>
    <table>
        <thead>
            <tr>
                {{#each report.columns}}
                    <td>{{this.[0]}}</td>
                {{/each}}
            </tr>
        </thead>
        <tbody>
            {{#each report.rows}}
                <tr>
                    {{#each ../report.columns}}
                        <td>{{getValue ../this this.[1]}}</td>
                    {{/each}}
                </tr>
            {{/each}}
        </tbody>
    </table>
</section>