<h1>{{capitalize customer.firstName}}'s Nile</h1>
<section class='infobox'>
    <h2>Information</h2>
    <div><span class='bold'>First Name:</span>
        {{capitalize customer.firstName}}
    </div>
    <div><span class='bold'>Last Name:</span>
        {{capitalize customer.lastName}}
    </div>
    <div><span class='bold'>Email:</span>
        {{customer.emailAddress}}
    </div>
</section>
<button type='button' class='red' onclick='location.href="/logout"'>
    Log Out
</button>