header {
    display: flex;
    justify-content: space-between;
    background-color: $primary-color;
    color: white;
    padding: 30px;
    box-shadow: 0 2px 4px 2px #aaa;

    h1 {
        margin-bottom: .5em;
    }

    .user_link {
        padding-top: 2em;
    }
}
